body {
  background: linear-gradient(90deg, #0093E9 40%, #80D0C7 80%);
}

img {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 150px;

  color: white;
  display: flex;
  position: relative;
}

.guess {
  font-size: 18px;
  font-family: arial;
  width: 33%;
}

.guessMyNumber {
  text-align: center;
  font-size: 32px;
  width: 36%;
  text-indent: 20px;
}

.playButton {
  width: 33%;
  text-align: end;
}

.play {
  text-align: center;
  width: 25%;
  height: 25%;
  background-color: orange;
  border: 2px solid red;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.questionMark {
  width: 100%;
  height:100px;
  display: flex;
  position: relative;
  align-items: center;
}

.qq {
  width: 6%;
  height: 90%;
  border: 2px solid black;
  margin: auto;

}

hr {
  width: 100%;
  height: 4px;
  background-color: white;
}

.bottomContainer {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
}

.scoreCard {
  color: white;
  width: 33%;
  text-align: end;
  font-size: 24px;
}

.guessHistory {
  margin-left: 20px;
  border: 4px solid white;
  height: 20%;
  width: 28%;
  color: white;
  text-align: center;
  margin-top: 25%;
  font-size: 24px;
  font-family: arial;
  border-radius: 10px;
}

.guessInput {

  width: 15%;
  margin-left: 10%;

}

.guess1 {
  background-color: transparent;
  text-align: center;
  height: 20%;
  font-size: 22px;
  width: 100%;
  border: none;
}

.guess2 {
  background-color: lightgreen;
  font-size: 24px;
  border-radius: 5px;
  border-color: green;
  margin-left: 30%;
}
